<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login :: Gestor tareas personal</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" th:href="@{/webjars/materializecss/0.100.2/css/materialize.css}" />
</head>
<body>	
	<div class="container">
		<div class="row">
			<div id="errorMessage" class="card-panel red lighten-2" th:if="${param.error}">
				<span class="card-title" th:text="#{login.error.entrar.sistema}">Error al entrar al sistema.</span>
			</div>
			<div id="logoutMessage" class="card-panel blue lighten-2" th:if="${param.logout}">
					<span class="card-title" th:text="#{login.desconexion.exito}">Se ha desconectado del sistema con éxito.</span>
			</div>				
		</div>

		<div class="col s12 z-depth-4 card-panel grey lighten-5">
		<form th:action="@{/login}" method="post" class="login-form" role="form">
			<div class="row">
				<div class="input-field col s12 center">
						<p class="center login-form-text" th:text="#{app.name}">Gestor de tareas</p>
				</div>
			</div>
			<div class="row margin">
				<div class="input-field col s12">
					<label for="email" th:text="#{login.email}" class="center-align">email</label>
					<input type="email" class="validate" name="email" id="email" placeholder="Email Address" required="" autofocus="" th:placeholder="#{login.email}" />					
				</div>
			</div>
			<div class="row margin">
				<div class="input-field col s12">
					<label for="password" th:text="#{login.contrasena}" class="center-align">contraseña</label>
					<input type="password" class="validate" name="password" id="password" placeholder="Password" required="" th:placeholder="#{login.contrasena}" />				
				</div>
			</div>
			<div class="row center">
					<button class="btn waves-effect waves-light" type="submit"><span th:text="#{login.entrar}">entrar</span><i class="mdi-content-send right"></i></button>
			</div>
		</form>
		</div>
	</div>

	<script th:src="@{/webjars/materializecss/0.100.2/js/materialize.js}"></script>
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>	
</body>
</html>