<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/default}">
<head>
<title>Listas de tareas</title>
<meta charset="utf-8" />
</head>
<body>

	<section layout:fragment="content">



		<div class="container">
			<div class="row">

				<form class="form-inline" th:action="@{/lista}" method="get">
					<fieldset>

						<label for="nombre" class="sr-only" th:text="#{lista.details.nombre}">Nombre</label> <input type="text" id="nombre" name="nombre" th:value="${nombre}" class="form-control"
							placeholder="Nombre" autofocus="autofocus" maxlength="250" />

						<button class="btn btn-primary" type="submit">
							<span th:text="#{global.button.buscar}">Buscar</span>
						</button>
					</fieldset>
				</form>
			</div>

			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="col-12 col-md-auto"><span th:text="#{lista.index.nombre}">Nombre</span></th>
							<th class="text-center col col-lg-2"></th>
							<th class="text-center col col-lg-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<td class="text-left" th:text="${row.nombre}">Nombre</td>
							<td class="text-center"><a th:href="@{/lista/{id}/tareas(id=${row.id})}" class="glyphicon glyphicon-th-list" aria-hidden="true" th:title="#{lista.index.acceder.tareas}"></a></td>
							<td class="text-center"><a th:href="@{/lista/{id}(id=${row.id})}" class="glyphicon glyphicon-edit" aria-hidden="true" th:title="#{global.message.modificar}"></a></td>
							<td class="text-center"><a th:href="@{/lista/{id}/eliminar(id=${row.id})}" class="glyphicon glyphicon-remove" aria-hidden="true" th:title="#{global.message.eliminar}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="btn-group">
				<a th:href="@{/lista/crear}" class="btn btn-primary" th:text="#{lista.index.crear.lista}">Crear lista </a>
			</div>
		</div>

	</section>
</body>
</html>